main {
  display: flex;
  align-items: center;
  background-color: gold;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
} 

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
  max-width: 500px;
  box-shadow: 10px 10px;
}

.tag {
  background-color: gold;
  width: fit-content;
  border-radius: 5px;
  font-weight: 700;
  padding: 10px;
}

.header-img {
  border-radius: 10px;
  width: 100%;
}

.content {
  color: rgba(57, 57, 57, 0.855);
}

.profile{
  display: flex;
  align-items: center;

}

.profile-img {
  width: 40px;
}

.name{
  margin: 10px;
  font-weight: 600;
}